<div layout="column" layout-align="center center">
	<md-content class="md-padding" layout-xs="column" layout="row" style="min-width:950px;">
		<div flex-xs flex-gt-xs="70" layout="column">
			<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline" layout="row" layout-align="center center">Available Items</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content layout="column" layout-align="space-between">
					<table md-table>
						<thead md-head>
							<tr md-row>
								<th md-column>Name</th>
								<th md-column class="word-space">Comapany Capacity Price Quantity</th>
							</tr>
						</thead>
					</table>
					<md-table-container style="max-height:450px;" class="border_bottom capital-text">
						<table md-table>
							<tbody md-body>
								<tr md-row ng-repeat="item in viewItemsController.availableItems ">
									<td md-cell>{{item.itemName}}</td>
									<td md-cell>
										<table>
											<tr ng-class="{ 'border_bottom': !$last && itemDetail.itemPriceDetails.length> 1}" ng-repeat="itemDetail in item.itemDetails">
												<td class="item-details">{{itemDetail.itemCompany.companyName}}</td>
												<td>
													<table>
														<tr ng-repeat="itemPriceDetail in itemDetail.itemPriceDetails">

															<td ng-show="viewItemsController.currentlyEditingItem.id != itemPriceDetail.id" class="item-details center-text">{{itemPriceDetail.capacity || '__'}}</td>
															<td ng-show="viewItemsController.currentlyEditingItem.id == itemPriceDetail.id">
																<md-input-container class="md-block input-width">
																	<input ng-model="viewItemsController.currentlyEditingItem.capacity" type="text" placeholder="Capacity" ng-required="false">
																</md-input-container>
															</td>

															<td ng-show="viewItemsController.currentlyEditingItem.id != itemPriceDetail.id" class="item-details center-text">{{itemPriceDetail.price}}</td>
															<td ng-show="viewItemsController.currentlyEditingItem.id == itemPriceDetail.id">
																<md-input-container class="md-block input-width">
																	<input ng-model="viewItemsController.currentlyEditingItem.price" type="text" ng-pattern="/^\d+$/" placeholder="Price" ng-required="true">
																</md-input-container>
															</td>

															<td ng-show="viewItemsController.currentlyEditingItem.id != itemPriceDetail.id" class="item-details center-text">{{itemPriceDetail.quantity || '__'}}</td>
															<td ng-show="viewItemsController.currentlyEditingItem.id == itemPriceDetail.id">
																<md-input-container class="md-block input-width">
																	<input ng-model="viewItemsController.currentlyEditingItem.quantity" type="text" ng-pattern="/^\d+$/" placeholder="Quantity"
																	 ng-required="true">
																</md-input-container>
															</td>

															<td ng-show="viewItemsController.currentlyEditingItem.id != itemPriceDetail.id">
																<md-button class="md-icon-button" aria-label="More" title="Edit" ng-click="viewItemsController.editItem(itemPriceDetail)">
																	<md-icon md-svg-icon="javax.faces.resource/images/thumbs/writer.svg"></md-icon>
																</md-button>
																<md-button class="md-icon-button" aria-label="More" title="Delete" ng-click="viewItemsController.deleteItem(itemPriceDetail)">
																	<md-icon md-svg-icon="javax.faces.resource/images/thumbs/delete Icon file.svg"></md-icon>
																</md-button>
															</td>

															<td ng-show="viewItemsController.currentlyEditingItem.id == itemPriceDetail.id">
																<md-button class="md-icon-button" aria-label="More" title="Save" ng-click="viewItemsController.updateItem($parent.$parent.$index, $parent.$index)">
																	<md-icon md-svg-icon="javax.faces.resource/images/thumbs/verification-mark.svg"></md-icon>
																</md-button>
																<md-button class="md-icon-button" aria-label="More" title="Cancel" ng-click="viewItemsController.cancelEditing()">
																	<md-icon md-svg-icon="javax.faces.resource/images/thumbs/cancel.svg"></md-icon>
																</md-button>
															</td>
														</tr>

													</table>
												</td>

											</tr>
										</table>
									</td>
								</tr>
							</tbody>
							<div class="center-text" ng-if=" !viewItemsController.availableItems || viewItemsController.availableItems.length ==0">
								<h3> No Items are there </h3>
							</div>

						</table>
					</md-table-container>
					<md-card-actions layout="row" layout-align="end center">
						<md-button class="md-raised md-primary" ng-click="viewItemsController.addNewItem()">Add New</md-button>

					</md-card-actions>
				</md-card-content>
			</md-card>
		</div>
		<div flex-xs flex-gt-xs="30" layout="column" ng-show="viewItemsController.newItem">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline" layout="row" layout-align="center center">New Item Details</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content layout="column" layout-align="space-between">
					<form name="addNewItemForm" class="bill-form">
						<auto-complete-item item="viewItemsController.currentlyEditingItem"></auto-complete-item>
						<md-autocomplete md-no-cache="true" required md-search-text-change="viewItemsController.loadAllCompaniesLike(viewItemsController.currentlyEditingItem.searchCompanyText)"
						 md-selected-item="viewItemsController.currentlyEditingItem.selectedCompany" md-items="company in viewItemsController.foundCompanies"
						 md-search-text="viewItemsController.currentlyEditingItem.searchCompanyText" md-item-text="company.companyName" md-dropdown-position="bottom"
						 md-min-length="2" md-floating-label="Select Company" md-select-on-match="false" md-menu-class="autocomplete-custom-template">
							<md-item-template>
								<span class="item-title capital-text">{{company.companyName}} </span>
							</md-item-template>
						</md-autocomplete>
						<md-input-container class="md-block">
							<label>Capacity</label>
							<input ng-model="viewItemsController.currentlyEditingItem.capacity" style="text-transform: uppercase;" type="text" ng-required="false">
						</md-input-container>
						<md-input-container class="md-block">
							<label>Price</label>
							<input ng-model="viewItemsController.currentlyEditingItem.price" type="text" ng-pattern="/^\d+$/" ng-required="true">
						</md-input-container>
						<md-input-container class="md-block">
							<label>Quantity</label>
							<input ng-model="viewItemsController.currentlyEditingItem.quantity" type="text" ng-pattern="/^\d+$/" ng-required="true">
						</md-input-container>
					</form>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-raised md-primary" ng-click="viewItemsController.saveNewItem()" ng-disabled="addNewItemForm.$invalid">save</md-button>
					<md-button class="md-raised md-primary" ng-click="viewItemsController.newItem = false;viewItemsController.currentlyEditingItem={}">cancel</md-button>
				</md-card-actions>
			</md-card>
		</div>
</div>