<div class="container-fluid">

	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">Enter Details</h4>
	</div>
	<div class="modal-body" id="modal-body">
	 <md-card flex layout-padding>
		<form name="myForm">	
			<md-input-container class="md-icon-float md-block">
			    <md-icon md-svg-src="javax.faces.resource/images/thumbs/person.svg" class="name"></md-icon>
			    <input ng-model="billingController.bill.customer.name" class="form-group" type="text" placeholder="Name" ng-required="true"> 
		    </md-input-container>
		    
			<md-input-container class="md-block"> 
			    <md-icon md-svg-src="javax.faces.resource/images/thumbs/phone.svg" class="phone"></md-icon>
			    <input ng-model="billingController.bill.customer.phone" class="form-group"  type="text" placeholder="Phone Number" ng-required="true"> 
			</md-input-container>
			
			<md-input-container class="md-block">
			    <md-icon md-svg-src="javax.faces.resource/images/thumbs/email.svg" class="email"></md-icon>
			    <input ng-model="billingController.bill.customer.email" type="email" placeholder="Email" ng-required="false"> 
			</md-input-container>
					    
		    <md-input-container class="md-block"> 
			    <md-icon md-svg-src="javax.faces.resource/images/thumbs/home.svg" class="phone"></md-icon>
			    <input ng-model="billingController.bill.customer.address" class="form-group" type="text" placeholder="Address" ng-required="true">
		    </md-input-container>
		    <div layout="row" layout-align="end end">
		       <md-button class="md-raised md-primary" ng-click="billingController.addItem()">Add Item</md-button>
		    </div>   
		   	     
		    <div layout="row" layout-align="start start" ng-repeat="item in billingController.bill.items" >
		        <section layout="row" layout-sm="column" layout-align="start start" > 
		            <div flex="50">
						<md-autocomplete md-no-cache="true" required
							md-selected-item="item.selectedItem"
							md-items="item in billingController.availableItems | matchResults: 'itemDetails.itemName': item.searchItemText"
							md-search-text="item.searchItemText"
							md-item-text="item.name" md-min-length="3"
							md-floating-label="Select Item"
							md-select-on-match = "true"
							md-menu-class="autocomplete-custom-template"> 
					       <md-item-template>
						      <span class="item-title"> <md-icon
								md-svg-icon="img/icons/octicon-repo.svg"></md-icon> <span>
								{{item.name}} </span>
						      </span> <!-- <span class="item-metadata"> <span class="item-metastat">
								<strong>{{item}}</strong> watchers
						</span> <span class="item-metastat"> <strong>{{item}}</strong>
								forks
						</span> -->
						</span> </md-item-template> </md-autocomplete>
					</div>
		            <div flex="50"> 
		                <md-autocomplete md-no-cache="true" required
							md-selected-item="item.selectedCompany"
							md-items="item in item.selectedItem.itemDetails | matchResults: 'itemCompany.companyName': item.searchCompanyText"
							md-search-text="item.searchCompanyText"
							md-item-text="item.name" md-min-length="3"
							md-floating-label="Select Company"
							md-select-on-match = "true"
							md-menu-class="autocomplete-custom-template"> 
					       <md-item-template>
						      <span class="item-title"> <md-icon
								md-svg-icon="img/icons/octicon-repo.svg"></md-icon> <span>
								{{item.name}} </span>
						      </span> <!-- <span class="item-metadata"> <span class="item-metastat">
								<strong>{{item}}</strong> watchers
						</span> <span class="item-metastat"> <strong>{{item}}</strong>
								forks
						</span> -->
						</span> </md-item-template> </md-autocomplete>
		            </div> 
		            <div flex="20">
		                <md-input-container class="md-block"> 
			                <input ng-model="item.quantity" class="form-group" type="number" placeholder="Quantity" ng-required="true">
		                </md-input-container>		    
		            </div>
		            <div flex="15">
		                <md-input-container class="md-block"> 
			                <input ng-model="item.price" class="form-group" type="number" placeholder="Price" ng-required="true">
		                </md-input-container>	
		            </div> 
		            <div flex="15">
			            <md-button class="md-fab md-mini"  aria-label="delete item" ng-click="billingController.deleteItem($index)">
                            <md-icon md-svg-src="javax.faces.resource/images/thumbs/delete.svg"></md-icon>
                        </md-button>
		            </div>    
		         </section> 	    
		     </div>     
		</form>
	  <div class="form-group">
	   <section layout="row" layout-sm="column" layout-align="start start" >
	   <div flex="50"> 
          <md-datepicker ng-model="billingController.bill.generatedDate" md-placeholder="Enter date" > <!-- md-min-date="sportsController.minDate" md-max-date="sportsController.maxDate" --></md-datepicker>
          </div>
          <div flex="50">
          <div uib-timepicker ng-model="billingController.bill.generatedDate" hour-step="billingController.hrstep" minute-step="billingController.minstep" show-meridian="true"></div>
         </div>
         </section>
      </div>
      <div class="form-group">
         
      </div>
      
     </md-card>   
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-disabled="myForm.$invalid"
			ng-click="billingController.generateBill()">Generate</md-button>
		<md-button class="md-raised md-warn"
			ng-click="billingController.resetForm()">Cancel</md-button>
	</div>


</div>