<div class="container-fluid about-default-font">
    <div layout="row" layout-align="center center">
        <md-card style="min-width:500px;">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline capital-text" layout="row" layout-align="center center">Change password</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout="column" layout-align="space-between">
                <form name="changePasswordFrom">
                    <md-input-container class="md-block">
                        <label class="capital-text">Current password</label>
                        <input ng-model="changePasswordController.password.currentPassword" ng-change="changePasswordController.resetMsg()" type="password" ng-required="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label class="capital-text">New password</label>
                        <input ng-model="changePasswordController.password.newPassword" ng-change="changePasswordController.resetMsg()" type="password" ng-required="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label class="capital-text">confirm password</label>
                        <input ng-model="changePasswordController.password.confirmPassword" ng-change="changePasswordController.resetMsg()" type="password" ng-required="true">
                    </md-input-container>
                </form>
                <div ng-if="changePasswordController.passwordNotMatched" class="center-text"><b>New password and confirm passwords not matched</b></div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-click="changePasswordController.chagePassword()" ng-disabled="changePasswordFrom.$invalid">save</md-button>
                <md-button class="md-raised md-primary" ng-click="me.resetForm()">cancel</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>