<div class="container-fluid">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-title">Enter Details</h4>
	</div>
	<div class="modal-body" id="modal-body">
		<md-card flex layout-padding>
		      <form name="myForm">
			      <md-input-container class="md-icon-float md-block">
			             <md-icon md-svg-src="javax.faces.resource/images/thumbs/person.svg" class="name"></md-icon>
			            <input ng-model="item.itemName" type="text" placeholder="Name" ng-required="true" /> 
				   </md-input-container>

			      <!-- <md-input-container class="md-block"> <md-icon
				      md-svg-src="res/images/thumbs/phone.svg" class="phone"></md-icon> 
				      <input ng-model="billingController.user.phone" type="text" placeholder="Phone Number" ng-required="true" /> 
				  </md-input-container> -->
				  
				  <md-autocomplete md-no-cache="true" required
							md-selected-item="item.company"
							md-items="company in itemsController.availableCompanies | matchResults: 'companyName': company.searchItemText"
							md-search-text="company.searchItemText"
							md-item-text="company.companyName" md-min-length="3"
							md-floating-label="Select Company"
							md-select-on-match = "true"
							md-menu-class="autocomplete-custom-template"> 
					       <md-item-template>
						      <span class="item-title"> <md-icon
								md-svg-icon="img/icons/octicon-repo.svg"></md-icon> <span>
								{{company.companyName}} </span>
						      </span> <!-- <span class="item-metadata"> <span class="item-metastat">
								<strong>{{item}}</strong> watchers
						</span> <span class="item-metastat"> <strong>{{item}}</strong>
								forks
						</span> -->
						</span> </md-item-template> </md-autocomplete>
		</form>
	   </md-card>
	</div>
	<div class="modal-footer">
		<md-button class="md-raised md-primary" ng-disabled="myForm.$invalid"
			ng-click="itemsController.addItem(item)">Generate</md-button>
		<md-button class="md-raised md-warn"
			ng-click="resetForm()">Cancel</md-button>
	</div>